mock
git+ssh://git@github.com/openstack/cinder.git@59312777551baadab41ec9baa7517132b58f1142#egg=cinder-7.0.2.dev46-py2-none-any
aioeventlet==0.5.2
alembic==0.8.4
amqp==1.4.9
amqplib==1.0.2
anyjson==0.3.3
automaton==1.1.0
Babel==2.2.0
cachetools==1.1.5
cffi==1.1.0
cliff==1.15.0
cmd2==0.6.8
contextlib2==0.5.1
cov-core==1.15.0
coverage==4.0.3
cryptography==0.9
debtcollector==1.2.0
decorator==4.0.6
ecdsa==0.13
enum34==1.1.2
eventlet==0.18.2
extras==0.0.3
fasteners==0.14.1
fixtures==1.4.0
funcsigs==0.4
functools32==3.2.3.post2
futures==3.0.4
futurist==0.10.0
greenlet==0.4.9
idna==2.0
ipaddress==1.0.7
iso8601==0.1.11
Jinja2==2.8
jsonpatch==1.12
jsonpointer==1.10
jsonschema==2.5.1
keystoneauth1==2.2.0
keystonemiddleware==4.2.0
kombu==3.0.33
linecache2==1.0.0
lxml==4.6.3
Mako==1.0.3
MarkupSafe==0.23
monotonic==0.6
msgpack-python==0.4.7
MySQL-python==1.2.3
netaddr==0.7.18
netifaces==0.10.4
networkx==1.11
nose==1.3.7
nose-cov==1.6
ordereddict==1.1
os-brick==0.8.0
oslo.concurrency==3.15.0
oslo.config==3.4.0
oslo.context==2.0.0
oslo.db==4.3.1
oslo.i18n==3.2.0
oslo.log==2.3.0
oslo.messaging==4.1.0
oslo.middleware==3.5.0
oslo.policy==1.3.0
oslo.reports==1.3.0
oslo.rootwrap==3.1.0
oslo.serialization==2.2.0
oslo.service==1.3.0
oslo.utils==3.4.0
oslo.versionedobjects==1.4.0
oslo.vmware==2.2.1
osprofiler==1.0.0
paramiko==1.16.0
Paste==2.0.2
PasteDeploy==1.5.2
pbr==1.8.1
pika==0.10.0
pika-pool==0.1.3
prettytable==0.7.2
psutil==1.2.1
pyasn1==0.1.7
pycadf==2.0.1
pycparser==2.13
pycrypto==2.6.1
pyinotify==0.9.6
pyOpenSSL==0.15.1
pyparsing==2.0.7
pyrsistent==0.11.11
python-barbicanclient==3.3.0
python-dateutil==2.4.2
python-editor==0.5
python-glanceclient==1.2.0
python-keystoneclient==2.1.1
python-mimeparse==1.5.1
python-novaclient==3.2.0
python-subunit==1.2.0
python-swiftclient==2.7.0
pytz==2015.7
PyYAML==3.11
repoze.lru==0.6
requests==2.9.1
retrying==1.3.3
Routes==2.2
rtslib-fb==2.1.58
simplejson==3.8.1
six==1.10.0
SQLAlchemy==1.0.11
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
stevedore==1.10.0
suds==0.4
suds-jurko==0.6
taskflow==1.26.0
Tempita==0.5.2
testrepository==0.0.20
testtools==1.9.0
traceback2==1.4.0
trollius==2.2.post1
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.14
warlock==1.2.0
WebOb==1.5.1
wheel==0.26.0
wrapt==1.10.6
